.route-list-tabs {
  .ant-tabs-bar {
    padding-left: 15px;
    margin: 0;

    .ant-tabs-tab {
      margin: 0 25px 0 0;
      padding: 12px 0;
      font-size: 0.9rem;
    }
  }

  .ant-card-actions {
    border: none;
  }
}