.route-list-tabs-header {
  background-color: white;
  padding: 16px;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;

  .item {
    display: flex;
    align-items: center;
  }

  .ant-tabs-bar {
    padding-left: 15px;
    margin: 0;

    .ant-tabs-tab {
      margin: 0 25px 0 0;
      padding: 12px 0;
      font-size: 0.9rem;
    }
  }

  .ant-card-actions {
    border: none;
  }
}

.route-list-tabs {
  background-color: white;
  margin-bottom: 6px;
  padding: 10px 16px;

  .all-selected {
    color: white;
    background-color: #F23A48;
  }

  button {
    margin-right: 10px;
  }
}

.route-list-footer {
  background-color: white;
  margin-bottom: 6px;
  padding: 12px 16px;

  .top {
    display: flex;
    justify-content: space-between;

    .forecast-warning {
      display: flex;

      .description {
        margin-left: 5px;
        margin-top: 3px;
      }
    }

    .forecast {
      display: flex;

      .description {
        margin-left: 5px;
        margin-top: 5px;
      }
    }

    .right {
      display: flex;
      align-self: center;

      .description {
      }

      .time {
        text-align: right;
      }
    }
  }

  .bottom {
    text-align: right;
  }
}