/*
    SearchDepartureInput.js
    SearchDestinationInput.js
 */
.place_input {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    padding: 6px 5px;
    border-bottom: 1px solid #e8e8e8;
}

.place_input .left_button {
    background-color: #f5f5f5;
    border: 1px solid transparent;
    margin-right: 5px;
    box-shadow: none;
}

.place_input .right_button {
    background-color: #f5f5f5;
    border: 1px solid transparent;
    margin-left: 5px;
    box-shadow: none;
}

.icon_rotate_90 {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.place_info_row {
    padding-left: 20px;
    padding-right: 20px;
}

/*
    table
 */
.item_meta {
    padding-left: 20px;
    padding-right: 20px;
}