/*
    RouteDepartureInput.js
    RouteDestinationInput.js
 */
.search_input {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

/*
    RouteCard.js
 */
.route_result_card {
    margin: 5px !important;
}

.route_result_title {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 25px;
}

.route_result_title .row {
    margin-right: 14px;
    padding-right: 14px;
    border-right: 2px solid #F2F2F2;
}

.route_map_div {
    padding-left: 5px;
    padding-right: 5px;
}

.route_card_sub_title {
    margin-top: 4px;
}

.route_card_sub_description {
    margin-right: 4px;
}

.route_card_sub_bottom {
    margin-right: 8px;
    padding-right: 8px;
    border-right: 1px solid #F2F2F2;
}

.route_result_input {
    display: flex;
    justify-content: flex-start;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.route_result_input .left_button {
    border: 1px solid transparent;
    margin-right: 5px;
}

.route_result_input .text_div {
    display: flex;
    padding-left: 12px;
    border-left: 1px solid #F2F2F2;
    align-items: center;
}

.route_result_input .text_div .icon {
    margin-left: 8px;
    margin-right: 8px;
}