.search_route_table {
    margin: 5px !important;
}

.search_route_table .ant-list-header {
    padding-left: 12px;
    padding-right: 12px;
}

.search_route_table .ant-list-item {
    padding-left: 12px;
    padding-right: 12px;
}
.search_input {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.top {
    padding-top: 6px;
}

.bottom {
    padding-bottom: 6px;
    border-bottom: 1px solid #e8e8e8;
}

.search_input .left_button {
    border: 1px solid transparent;
    margin-right: 5px;
}

.search_input .right_button {
    background-color: #f5f5f5;
    border: 1px solid transparent;
    margin-left: 5px;
}

.icon_rotate_90 {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.search_parking_row_description {
    display: flex;
    flex-direction: column;
}

.search_parking_row_description .price {
    margin-top: 10px;
    display: flex;
}

.search_parking_row_description .holiday {
    display: flex;
}

.search_parking_row_description .price div:first-child {
    margin-right: 4px;
}

.search_parking_row_description .holiday div:first-child{
    margin-right: 4px;
}