.walk {
  height: 20px;
  background-color: #DADAE0;
  border-right: 1px solid #DADAE0;
  text-align: center;
  font-size: 0.5rem;
  font-weight: 400;
}

.bus {
  height: 20px;
  background-color: #3179CA;
  border-right: 1px solid #DADAE0;
  color: white;
  text-align: center;
  font-size: 0.5rem;
}

.subway {
  height: 20px;
  /*
  background-color: #096dd9;
  */
  border-right: 1px solid #DADAE0;
  color: white;
  text-align: center;
  font-size: 0.5rem;
}

.parking {
  height: 20px;
  background-color: #d46b08;
  border-right: 1px solid #DADAE0;
  color: white;
  text-align: center;
  font-size: 0.5rem;
}

.bike {
  height: 20px;
  background-color: #19AA56;
  border-right: 1px solid #DADAE0;
  color: white;
  text-align: center;
  font-size: 0.5rem;
}