.route-drive-bar {
  margin-bottom: 6px;

  .price {
    font-size: 0.9rem;
    margin-left: 2px;
    margin-right: 6px;
    margin-bottom: 2px;
  }

  .dot {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 2px;
    height: 2px;
    margin: 10px 6px 0;
    border-radius: 50%;
    background: #000;
  }

  .ant-card-bordered {
    border: 0;
    border-radius: 0 !important;

    .ant-card-body {
      padding: 5px 15px;
    }
  }
}