.summary_category_tab {
    margin-top: 5px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.summary_route_table {
    margin: 5px !important;
}

.summary_route_table .header {
    margin-bottom: 6px;
}

.summary_route_table .header .content {
    margin-right: 10px;
}

.summary_route_table .description {
    margin-top: 4px;
}

.summary_route_table .description .content {
    margin-top: 2px;
}

.summary_route_table .description .content .left {
    margin-right: 6px;
}

.summary_route_table .description .content .right {
    margin-right: 6px;
}

.summary_route_table .label {
    width: 50px;
    text-align: center;
}

.summary_info_bar {
    display: flex;
    justify-content: flex-start;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.summary_info_bar .left_button {
    border: 1px solid transparent;
    margin-right: 5px;
}

.summary_info_bar .text_div {
    display: flex;
    padding-left: 12px;
    border-left: 1px solid #F2F2F2;
    align-items: center;
    width: 100%;
}

.summary_info_bar .right_button {
    border: 1px solid transparent;
    margin-left: 5px;
}

.summary_info_bar .text_div .icon {
    margin-left: 8px;
    margin-right: 8px;
}